body{
    padding: 0px;
    margin: 0px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.mainDiv{
    display: flex;
    width: 100%;
}
.page-title{
    margin-bottom: 20px;
    color: #61dafb;
}

.leftNav{
    width: 16%;
    background-color: rgb(35,32,45);
    color:#fff;
    font-size:16px;
    height:100vh;
    padding: 20px;
    overflow: auto;
}
.rightMain{
    padding: 20px;
    width: 84%;
    height:100vh;
    background-color: #fff;
    font-size:20px;
    overflow: auto;
}

.module-title,.module-item{
    margin-bottom: 10px;
    cursor: pointer;
}
.module-title .arrow{
    margin-left: 5px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(135deg);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.module-item:hover a,.activeRoute{
    color: rgb(97, 218, 251);
    font-size: 16px;
}

.moudule-wrap{
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}